/*
 * @Author: MrZhang
 * @Date: 2020-12-15 09:40:45
 * @Description: 外边距
 */

/*
  ml5, ml10... ml50
  ml6, ml8, ml10, ml12
*/
@each $item in (5, 50, 5), (4, 14, 2) {
  @for $index from 0 through floor(nth($item, 2) / nth($item, 3)) {
    $number: $index * nth($item, 3) + nth($item, 1);

    @if $number <= nth($item, 2) {
      .ml#{$number} {
        margin-left: unit($number: $number);
      }

      .mt#{$number} {
        margin-top: unit($number: $number);
      }

      .mr#{$number} {
        margin-right: unit($number: $number);
      }

      .mb#{$number} {
        margin-bottom: unit($number: $number);
      }
    }
  }
}

.mt0 { margin-top: 0 !important;}
.mr0 { margin-right: 0 !important;}
.mb0 { margin-bottom: 0 !important;}
.ml0 { margin-left: 0 !important;}